<fieldset>
	<legend><b>API Key</b></legend>

		<div style='width:250px; float: left;'>Clave de acceso de la API:</div> &nbsp;
		<%= text_field_tag 'settings[mantis_api_key]', @settings['mantis_api_key'], :size => 50 %>

</fieldset>
<br>

<fieldset>
	<legend><b>Campo personalizado</b></legend>

		<div style='width:250px; float: left;'>ID de Mantis:</div> &nbsp;
		<%= select_tag 'settings[mantis_field_id]',
			options_from_collection_for_select(CustomField.where("type = ?", 'IssueCustomField'), :id, :name, @settings['mantis_field_id']),
			:include_blank => true
		%>

</fieldset>
<br>

<fieldset>
	<legend><b>Notas</b></legend>
	<p style="padding: 0px;"> Indique en la URL añadiendo <b><i>{issueId}</i></b> donde se sustituira por la ID correspondiente a Mantis.</p>
		<div style='width:250px; float: left;'>URL para enviar las notas de las peticiones:</div> &nbsp;
		<%= text_field_tag 'settings[mantis_url_notes]', @settings['mantis_url_notes'], :size => 50 %>

</fieldset>
<br>

<fieldset>
	<legend><b>Estados</b></legend>
<p style="padding: 0px;"> Indique en la URL añadiendo <b><i>{issueId}</i></b> donde se sustituira por la ID correspondiente a Mantis.</p>
		<div style='width:250px; float: left;'>URL para los cambios de estados:</div> &nbsp;
		<%= text_field_tag 'settings[mantis_url_statuses]', @settings['mantis_url_statuses'], :size => 50 %>
		<br><br>

		<div style='width:250px; float: left;'>Estados que activaran la notificación a Mantis:</div> &nbsp;
		<%= select_tag 'settings[mantis_url_statuses_notification]',
			options_from_collection_for_select(IssueStatus.uniq, :id, :name, @settings['mantis_url_statuses_notification']), {:multiple => true, :style => "height: 85px"} %>
</fieldset>
