<fieldset>
	<legend><b>API Key</b></legend>

		<div style='width:250px; float: left;'>Clave de acceso de la API:</div> &nbsp;
		<%= text_field_tag 'settings[mantis_api_key]', @settings['mantis_api_key'], :size => 50 %>

</fieldset>
<br>

<fieldset>
	<legend><b>Campo personalizado</b></legend>

		<div style='width:250px; float: left;'>ID de Mantis:</div> &nbsp;
		<%= select_tag 'settings[mantis_field_id]',
			options_from_collection_for_select(CustomField.where("type = ?", 'IssueCustomField'), :id, :name, @settings['mantis_field_id']),
			:include_blank => true
		%>

</fieldset>
<br>

<fieldset>
	<legend><b>Configuración</b></legend>
		<div style='width:250px; float: left;'>Indique en la URL correspondiente a Mantis:</div> &nbsp;
		<%= text_field_tag 'settings[mantis_url]', @settings['mantis_url'], :size => 50 %>
		<br><br>

		<div style='width:250px; float: left;'>Estados que activaran la notificación a Mantis:</div> &nbsp;
		<%= select_tag 'settings[mantis_url_statuses_notification]',
			options_from_collection_for_select(IssueStatus.uniq, :id, :name, @settings['mantis_url_statuses_notification']), {:multiple => true, :style => "height: 85px"} %>
</fieldset>

<fieldset>
	<div style='width:250px; float: left;'>Usuario para migración:</div> &nbsp;
		<%= select_tag 'settings[migration_user_id]',
			options_from_collection_for_select(User.all, :id, :name, @settings['migration_user_id']),
			:include_blank => true
		%>
</fieldset>
